<!DOCTYPE html>
<html lang="en" xmlns:background-image="http://www.w3.org/1999/xhtml" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Crime </title>
     <h3 align="center" style="color:red;">  Crime Prediction </h3>
   <!-- core STATIC/CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/animate.min.css" rel="stylesheet">
    <link href="static/css/owl.carousel.css" rel="stylesheet">
    <link href="static/css/owl.transitions.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="static/js/html5shiv.js"></script>
    <script src="static/js/respond.min.js"></script>
    <![endif]-->

</head><!--/head-->

<body   id="home" class="homepage" >

    <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top top-nav-collapse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="templates/index.html"><img src="static/images/logo.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">


                        <li class="scroll active"><a href="/">Home </a></li>
                        <li class="scroll"><a href="/upload">Upload Dataset </a></li>
                        <li class="scroll"><a href="/viewdata">View Dataset</a></li>
                        <li class="scroll"><a href="/traintest">Train/Test Dataset</a></li>
                         <li class="scroll"><a href="/modelperformance">ModelPerformance</a></li>
                         <li class="scroll"><a href="/prediction">Prediction</a></li>
                        <li class="scroll"><a href="/bar_chart">Graph</a></li>





                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->


 {% block content %}
        {% if msg!=null%}
        <h2 align="center" style="color:red;"> The selected Model is based on {{model}} whose pridect value is {{100*score}}</h2>
    {% endif %}
    {% endblock %}

                <div align="center" class="select_form">
                    <h3>Select model</h3>
                    <form method="POST" action="{{url_for('selected_model_submitted')}}" onsubmit="return validateForm()" name="myForm">
                    <div class="form_blg1">
                        <select name="algorithm" >
                            <option value="">Select an option</option>
                            <option value="1">Linear Regression</option>
                             <option value="2">RandomForestRegressior</option>
                             <option value="3">AdaBoostRegressor</option>
                            <option value="4">BaggingRegressor</option>
                             <option value="5">GradientBoostingRegressor</option>


                        </select>
                        <span id="selected_form" class="span_text1"></span>
                    </div>
                    <div class="form_blg1"><br>
                        <input type="submit" value="Submit" class="btn btn-info">
                    </div>
                </form>
                </div>








</body>
<br><br><br><br><br><br><br><br><br><br><br>


    <footer id="footer">
        <div class="container text-center">
          All rights reserved © PRIYA | FORECASTING OF CRIME .
        </div>
    </footer><!--/#footer-->

    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="http://maps.google.com/maps/api/static/js?sensor=true"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/mousescroll.js"></script>
    <script src="static/js/smoothscroll.js"></script>
    <script src="static/js/jquery.prettyPhoto.js"></script>
    <script src="static/js/jquery.isotope.min.js"></script>
    <script src="static/js/jquery.inview.min.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script src="static/js/main.js"></script>
   <script src="static/js/scrolling-nav.js"></script>
<script>


    </script>
</html>

